<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User form</title>
</head>
<body>
  <form action="/users/editdata/<%- user.id %>" method="POST">
    <h3>Name:-</h3>
    <input type="text" name="name" value='<%- user.name %>'>
    <h3>Email:-</h3>
    <input type="email" name="email" value='<%- user.email %>'>
    <h3>Contact Number:-</h3>
    <input type="number" name="contact" value='<%- user.contact %>'>
    <h3>Age:-</h3>
    <input type="number" name="age" value='<%- user.age %>'>
    <h3>About yourself:-</h3>
    <textarea name="description"><%- user.description %></textarea>
    <button>submit</button>
  </form>
</body>
</html>